[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
scikit-learn = "*"
pandas = "*"
flask = "*"
psycopg2-binary = "*"
python-dotenv = "*"
gunicorn = "*"
numpy = "*"
streamlit = "*"

[dev-packages]
tqdm = "*"
notebook = "*"
ipywidgets = "*"
hyperopt = "*"
questionary = "*"
pgcli = "*"

[requires]
python_version = "3.12"
